[core]
    excludesfile = ~/.gitignore
    editor = nvim
	autocrlf = input
[push]
    default = simple
[commit]
	gpgsign = true
[pull]
	rebase = true
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[fetch]
    prune = true
[hub]
    protocol = https
[github]
    user = vahor
[diff]
    tool = nvimdiff
[init]
    defaultBranch = main
[user]
    name = Vahor
    email = nathan.d0601@gmail.com
    signingkey = 82D657F3C6E09210
    
[alias]
    r = restore --staged
