init-license=MIT
init-author-name=Nathan David
init-author-email=me@vahor.fr
auto-install-peers=true
//registry.npmjs.org/:_authToken=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
@pedaki:registry=https://registry.npmjs.org/
